body {
    background-color: white;
    overflow:hidden;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

svg {
    background-color: #f2f0e3;
}

.horizontal-line {
    stroke: black;
}

.hand-mark {
    opacity: 0.6;
}

.grabbing {
    opacity: 1;
}

.speechB {
    opacity: 0.6;
}

.instrumentImg {
    opacity: 0.8;
}

.voronoi-area > path {
    fill: transparent;
}


.voronoi-area > path:first-child {
    fill: yellow;
}

path.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.recorded-ins-rect {
    fill: #e2e0d4;
    stroke: #4d4d4d;
}

.tempo-line {
    stroke: #f15a25;
    stroke-width: 5px;
}

.tempo-background-line {
    stroke: #97978f;
    stroke-width: 7px;
}

.canvas-container {
    position: absolute;
    z-index: 999;
    top: 0px;
}

.current-ints-rect {
    fill: white;
}

.shader-rect {
    opacity: 0.3;
}