@font-face {
  font-family: Aller Regular;
  src: local("Aller Regular"),
       url(../fonts/Aller_Rg.ttf);
}

body {
    background-color: white;
    overflow:hidden;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Avoid to be able to select elemens by mouse. */
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    cursor: none;
}

svg {
    background-color: #f2f0e3;
}

.horizontal-line {
    stroke: #c2c1bd;
}

.bold-horizontal-line {
    stroke: #a7a7a4;
    stroke-width: 2px;
}

.score-rect {
    stroke: #a7a7a4;
    stroke-width: 2px;
    fill: #f0efeb;
}

.hand-mark {
    opacity: 0.6;
}

.grabbing {
    opacity: 1;
}

.speechB {
    opacity: 0.6;
}

.instrumentImg {
    opacity: 0.8;
}

.voronoi-area > path {
    fill: transparent;
}


.voronoi-area > path:first-child {
    fill: yellow;
}

path.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.recorded-ins-rect {
    fill: #e2e0d4;
    stroke: #4d4d4d;
}

.tempo-line {
    stroke: #f15a25;
    stroke-width: 5px;
}

.tempo-background-line {
    stroke: #97978f;
    stroke-width: 7px;
}

.canvas-container {
    position: absolute;
    z-index: 999;
    top: 0px;
}

.current-ints-rect {
    fill: white;
}

.shader-rect {
    opacity: 0.3;
}

.finish-button {
    fill: red;
}

.finish-label {
    text-anchor: middle;
    font-family: "Aller Regular", Calibri;
    fill: white;
}

.pick-label {
    text-anchor: middle;
    font-size: 16px;
    font-weight: bold;
    font-family: "Aller Regular", Calibri;
    fill: #4e4e4e;
}

.counter {
    text-anchor: middle;
    font-family: "Aller Regular", Calibri;
    fill: #f15a25;
    font-size: 20px;
}

.change-inst-zonerect {
    fill: #deded6;
}